/*center children horizontally and vertically*/
@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*create a circle*/
@mixin circle($size){
    width: $size;
    min-width: $size;
    height: $size;
    min-height: $size;
    border-radius: 50%;
}

/**@MEDIA QUERY MANAGER - (takes the size of the screen and return the media query code)**/
@mixin res($break-point){
    // -- >1200px normal css will apply 
    @if $break-point == lg {
        @media (max-width:74.99em) { // --1199.98px (large screens - eg. small laptops or landscape tablets) <1200
            @content
        };
    }

    @if $break-point == md {
        @media (max-width:61.99em) { // --991.98px (medium screens - eg. tablets) <992
            @content
        };
    }

    @if $break-point == sm {
        @media (max-width:47.99em) { // --767.98px (small screens - eg. landscape phones) <768
            @content
        };
    }

    @if $break-point == xs {
        @media (max-width:35.99em) { // --575.98px (very small screens - eg. potrait phones) <576
            @content
        };
    }
    @if $break-point == xxs {
        @media (max-width:23.74em) { // --379.98px (tiny screens - eg.small phones) <360
            @content
        };
    }
}

//responsive font-size mixins
@mixin medium-fs { //appx 18px - 16px
    font-size: 18px;

    @include res(md){
        font-size: 17px;
    }
    @include res(sm){
        font-size: 16px;
    }
    @include res(xxs){
        font-size: 15px;
}   
}

@mixin base-fs { //appx 16px - 14px
    font-size: 16px;

    @include res(md){
        font-size: 15px;
    }
    @include res(sm){
        font-size: 14px;
    }
    @include res(xxs){
        font-size: 13px;
}   
}


