.container{
    padding: 2rem;

    &Episodes{
        margin-top: 2rem;
    }
    &EpisodeItem{
        width: 80%;
        margin-bottom: 0rem;
        padding: 1rem 0 0;
        border-bottom: 1px solid var(--color-border);
    }
}

