/*@font styles, heading, paragraphs, links, buttons*/
* {
   font-family: "Montserrat", sans-serif;
   line-height: 1.5;
    font-display: swap;
    color: var(--color-white);
    font-size: var(--default-font-size);
}           

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-rendering:optimizeLegibility;
}

label,
input,
select,
textarea {
    font-family:  "Montserrat", sans-serif;
}

button {
    font-weight: 600;
    @include medium-fs;
}

a {
    text-decoration: none;
    transition : var(--transition-primary);
}

p {
    @include base-fs;
}

h1 {
    font-size    : 3.4rem;
    margin-bottom: 3rem;//3.6
    letter-spacing:-0.08rem
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    letter-spacing:-0.02rem;
}

h3 {
    font-size     : 2.6rem;
    margin-bottom: 1.8rem;
    letter-spacing:-0.03rem;
    @include res(sm) {
        font-size: 2.8rem;
    }
}

h4 {
    font-size    : 2rem;
    margin-bottom: 1rem;
    @include res(sm) {
        font-size: 2.4rem;
    }
}

h5 {
    font-size    : 1.8rem;
    margin-bottom: 0.8rem;
    @include res(sm) {
        font-size: 2.2rem;
    }
}

h6 {
    font-size: 1.6rem;
    @include res(sm) {
        font-size: 2rem;
    }
}


